[Unit]
Description=VAN Muse persistent-directory noexec mounts
Before=van-muse-sandbox.service
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/van-muse-sandbox-mounts

[Install]
WantedBy=multi-user.target
