VAN_WEB_ACQUISITION_BIND=127.0.0.1
VAN_WEB_ACQUISITION_PORT=9143
VAN_SCRAPLING_VERSION=0.4.15
VAN_CRAWLEE_VERSION=1.10.2
VAN_KATANA_VERSION=1.4.0
VAN_KATANA_BIN=/usr/local/bin/katana
VAN_WEB_ACQUISITION_MAX_TEXT_BYTES=524288
VAN_KATANA_MAX_ENDPOINTS=2000
VAN_KATANA_MAX_DEPTH=3
VAN_KATANA_MAX_SECONDS=30
VAN_CRAWLEE_MAX_PAGES=1000
VAN_CRAWLEE_MAX_DEPTH=6
VAN_CRAWLEE_MAX_CONCURRENCY=12
VAN_CRAWLEE_MAX_TASKS_PER_MINUTE=240
VAN_CHROMIUM_EXECUTABLE=
